body {
    margin: 0;
    background-color: #f1f7ed;
}

header {
    height: 230px;
    width: 20%;
    background-color: #081d21;
    margin-left: 30px;
}

h1 {
    font-family: 'Kaushan Script', cursive;
    color: #f1f7ed;
    font-size: 3em;
    padding: 10px;
}

nav li {
    font-family: 'Special Elite', cursive;
}

h2, h3 {
    font-family: 'Special Elite', cursive;
}